extends layout

block content
    table(cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8")
       tr
        td
          table(width="100%" border="0" align="center" cellpadding="0" cellspacing="0" sytle={"background-color": "#f2f3f8","max-width":"670px","margin":"0 auto"})
            tr
              td(style={"height":"80px"}) 
            tr
              td(align="center" sytle={"padding":"0 50%"})
                a(href="https://react-mentoritos.netlify.app/" title="logo" target="_blank" )
                  img(width="60" src="https://drscdn.500px.org/photo/1044732232/q%3D80_m%3D1500/v2?sig=7d4f3b4958dd672424b1d2530ccfc6de076f5f131fbe191c02a6bddb0370d065" title="logo" alt="logo")
            tr
              td(style={"height":"0px"})    
            tr 
              td
                table(width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                  sytle={"max-width":"670px","background":"#fff","border-radius":"3px","text-align":"center","box-shadow":"0 6px 18px 0"})
                    tr
                      td(style={"height":"0px"})
                    tr 
                    
                      td(align="center" style={"padding":"0 35px"})
                        a(style={"background":"#533C73;","text-decoration":"none !important", "font-weight":"500", "margin-top":"35px", "color":"#fff","text-transform":"uppercase","font-size":"25px","padding":"10px 24px","display":"inline-block","border-radius":"50px"}) ¡Todos tenemos algo que enseñar, y algo que aprender!
                        h1(style={"color":"#1e1e2d", "font-weight":"500", "margin":"0","font-size":"32px","font-family":"'Rubik',sans-serif"}) #{info.title}
                        spam(style={
                        "display":"inline-block",
                        "vertical-align":"middle",
                        "margin":"29px 0 26px",
                        "border-bottom":"1px solid #cecece",
                         "width":"100px"})
                        p(style={"color":"#455056", "font-size":"35px","line-height":"40px", "margin":"0"}) #{info.message}
                        
                    tr
                      td(style={"height":"40px"})
                      
            tr 
              td(style={"height":"20px"})
            tr 
              td(align="center" style={"text-aling":"center"})
                a(href="https://react-mentoritos.netlify.app/" title="link" target="_blank" )
                  h3(style={"font-size":"45px", "color":"rgba(69, 80, 86, 0.7411764705882353)", "line-height":"10px", "margin":"0 0 0"}) 
                    strong ©mentoritos.app
            tr 
              td(style={"height":"80px"})
